---
title: "Consulenza | Federica Burzio | Psicologa e Psicoterapeuta in formazione"
---

<main>
	<section>
		<div class="pagina-iniziale">
			<a href="<%= config[:host] %>/"><i class="fa fa-arrow-circle-left"></i><span>Torna alla pagina iniziale</span></a>
		</div>
	</section>

	<!-- MAIN -->
	<div class="box">
		<!-- CHI SONO -->
		<section class="chi-sono2">
			<div class="content-wrap">
				<h2>DOTT.SSA FEDERICA BURZIO > AMBITI DI INTERVENTO ></h2>
				<h4>CONSULENZA PSICOLOGICA (O COUNSELING)</h4>
			</div>
		</section>

		<!-- FORM -->
		<section class="formazione">
			<div>
				<p>
					La consulenza psicologica è un intervento in cui è possibile accogliere la problematica specifica portata dal cliente, identificare alcune connessioni fra il problema e il più ampio contesto di vita della persona e individuare, insieme al cliente, le risorse per poter raggiungere gli obiettivi desiderati. In parole povere il counseling è un intervento finalizzato alla risoluzione di una particolare problematica attraverso l’ascolto, la definizione del problema, la valutazione della situazione, l’attivazione di risorse, di empowerment e di capacità di problem solving.
                </p>
                <p>
                    Solitamente il counseling si  in un numero definito di incontri, a seguito dei quali il cliente può decidere quali strategie adottare, compreso se avvalersi o meno di un successivo percorso di sostegno psicologico o psicoterapia.
				</p>
			</div>
		</section>

		<!-- CONTATTI -->
		<section id="contatti-formazione">
			<div class="content-wrap">
				<a href="<%= config[:host] %>/#info" data-offset="-60">
					<button type="submit" class="btn-white">Richiedi un appuntamento</button>
				</a>
			</div>
		</section>

	<!-- FINE MAIN -->
	</div>
</main>
