---
title: "Psicodiagnosi | Federica Burzio | Psicologa e Psicoterapeuta in formazione"
---

<main>
	<section>
		<div class="pagina-iniziale">
			<a href="<%= config[:host] %>/"><i class="fa fa-arrow-circle-left"></i><span>Torna alla pagina iniziale</span></a>
		</div>
	</section>

	<!-- MAIN -->
	<div class="box">
		<!-- CHI SONO -->
		<section class="chi-sono2">
			<div class="content-wrap">
				<h2>DOTT.SSA FEDERICA BURZIO > AMBITI DI INTERVENTO ></h2>
				<h4>PSICODIAGNOSI</h4>
			</div>
		</section>

		<!-- FORM -->
		<section class="formazione">
			<div>
				<p>
					La diagnosi psicologica è l’atto tipico di indagine e valutazione, conoscitivo e comunicativo, che si avvale di modelli teorici di riferimento psicologici. Consiste in una serie di colloqui conoscitivi anamnestici, fondamentali per permettere al clinico di ricollocare il disturbo attuale all’interno della storia personale dell’individuo ripercorrendo le tappe di sviluppo del disagio psichico, a cui viene attribuito un senso e un significato.
                </p>
                <p>
                    Al termine dei colloqui anamnestici si procederà alla somministrazione testistica, ovvero il Test di Rorscach e il TAT (Tematic Apperception Test) nel mio caso. Infine lo psicologo consegnerà al cliente una relazione scritta su quanto emerso ed effettuerà un ultimo colloquio di restituzione all’interno del quale si valuterà assieme la necessità o meno di una presa in carico psicologica.
				</p>
			</div>
		</section>

		<!-- CONTATTI -->
		<section id="contatti-formazione">
			<div class="content-wrap">
				<a href="<%= config[:host] %>/#info" data-offset="-60">
					<button type="submit" class="btn-white">Richiedi un appuntamento</button>
				</a>
			</div>
		</section>

	<!-- FINE MAIN -->
	</div>
</main>
