---
title: "Sostegno Psicologico | Federica Burzio | Psicologa e Psicoterapeuta in formazione"
---

<main>
	<section>
		<div class="pagina-iniziale">
			<a href="<%= config[:host] %>/"><i class="fa fa-arrow-circle-left"></i><span>Torna alla pagina iniziale</span></a>
		</div>
	</section>

	<!-- MAIN -->
	<div class="box">
		<!-- CHI SONO -->
		<section class="chi-sono2">
			<div class="content-wrap">
				<h2>DOTT.SSA FEDERICA BURZIO > AMBITI DI INTERVENTO ></h2>
				<h4>SOSTEGNO PSICOLOGICO</h4>
			</div>
		</section>

		<!-- FORM -->
		<section class="formazione">
			<div>
				<p>
					Il sostegno psicologico è un intervento il cui obiettivo è il miglioramento della qualità di vita dell’individuo e degli equilibri adattivi in tutte le situazioni ove si rileva opportuno, sviluppando e potenziando i punti di forza della persona e le sue capacità di autodeterminazione. Il sostegno psicologico realizza interventi diretti e mirati ad ottimizzare ogni tipo di relazione affettiva.
				</p>
				<p>
					Lo psicologo non dà soluzioni ma mette il paziente nelle condizioni di poterle pensare.
				</p>
			</div>
		</section>

		<!-- CONTATTI -->
		<section id="contatti-formazione">
			<div class="content-wrap">
				<a href="<%= config[:host] %>/#info" data-offset="-60">
					<button type="submit" class="btn-white">Richiedi un appuntamento</button>
				</a>
			</div>
		</section>

	<!-- FINE MAIN -->
	</div>
</main>
