.box, * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  margin:0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

main {
    margin-top: 90px;
    z-index: 0;
    position: relative;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  margin: 0;
  font-family: 'Times New Roman', serif;
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.3em;
}

h2, .chi-sono2 .content-wrap p {
  text-transform: uppercase;
}

h2, h3, h4, h5, .chi-sono2 .content-wrap p {
  margin: 0;
  letter-spacing: 0.1px;
  line-height: 1.5;
}

h4 {
  font-size: 30px !important;
}

p {
  margin: 0;
  letter-spacing: 0.1px;
  line-height: 1.5;
}

.btn-white {
  font-size: 16px;
  background-color: #f5f5f5;
  color: #605f5f;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 7px rgba(0,0,0, 0.4);
  box-shadow: 1px 1px 7px rgba(0,0,0, 0.4);
  padding: 1em 2em;
}

div#map-btn {
    width: 100% !important;
    margin-top: 50px;
    border-radius: 5px;
}

.map-btn-single {
  background-color: #07776e;
  color: #f5f5f5;
  display: block;
  float: left;
  border: 0;
  width: 50%;
  margin: 0;
  padding: 1em 1em;
  min-height: 100px;
  font-size: 12px;
}

.map-btn-single:first-child {
    border-radius: 8px 0 0 0;
}

.map-btn-single:last-child {
    border-radius: 0 8px 0 0;
}

#map-btn .map-btn-single img {
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding-bottom: 10px;
}

.active {
  background-color: #04403b;
}

button:focus, button:hover {
  outline: 0;
    cursor: pointer;
}

.btn-white:hover {
  background-color: #ededed;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0, 0.4);
  box-shadow: 0 0 4px rgba(0,0,0, 0.4);
}

.btn-white:active {
  background-color: #ededed;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0, 0.4);
  box-shadow: 0 0 4px rgba(0,0,0, 0.4);
}

.btn-green {
  background-color: #07776e;
  color: #f5f5f5;
  padding: 1em 2em;
    min-width: 160px;
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 7px rgba(0,0,0, 0.4);
  box-shadow: 1px 1px 7px rgba(0,0,0, 0.4);
}

.btn-green:hover, .map-btn-single:hover {
  background-color: #054c47;
}

.btn-green:active {
  background-color: #04403b;
}

.logo {
  width: auto;
  height: 50px;
  margin: 20px;
    float: left;
}

.avatar-foto {
    position: relative;
    background-image: url("/images/FedericaBurzio_720x720.jpg");
    background-position: center;
    background-size: cover;
    border: 2px solid #07776e;
    width: 50px;
    float: left;
    height: 50px;
    display: none;
    margin: 20px 0;
    border-radius: 50%;
}

@media screen and (max-width: 360px) {
    .avatar-foto {
    display: none
    }
}
    /* HAMBURGER MENU */
    /* HAMBURGER MENU */
    /* HAMBURGER MENU */

a {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 33px;
  right: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;

  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 38px;
  height: 3px;
  margin-bottom: 8px;
  position: relative;
  background: #383737;
  border-radius: 3px;

  -webkit-transform-origin: 4px 0px;

      -ms-transform-origin: 4px 0px;

          transform-origin: 4px 0px;

  -webkit-transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease,
  -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

  transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease,
  -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

  -o-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease,
  -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle span:first-child
{
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(-1px, -1px);
      -ms-transform: rotate(-45deg) translate(-1px, -1px);
          transform: rotate(-45deg) translate(-1px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
      -ms-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(1px, 0px);
      -ms-transform: rotate(45deg) translate(1px, 0px);
          transform: rotate(45deg) translate(1px, 0px);
}

#menu
{
    position: fixed;
    width: 100%;
    height: 90%;
    display: block;
    left: 0px;
    background: #005951;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 5;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    -o-transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.closed-menu {
    top: -100%;
    -webkit-transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    -o-transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.open-menu {
    top: 90px;
    -webkit-transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    -o-transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu-list {
    position: absolute;
    top: 0;
    font-size: 18px;
    box-sizing: border-box;
    width: 100%;
}

#menu li
{
  padding: 12px;
  text-align: left;
    border-bottom: 1px solid #07877e;
    -webkit-transition: all 0.2s cubic-bezier(0.77,0.2,0.05,1.0);
    -o-transition: all 0.2s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: all 0.2s cubic-bezier(0.77,0.2,0.05,1.0);
}

.sotto-menu {
    box-sizing: border-box;
    background-color: #07776e;
    font-size: 1rem;
    padding-left: 15px;
    font-weight: 100 !important;
    opacity: 1;
}

#menu li:hover
{
  background-color: #054c47;
    padding-left: 25px;
    -webkit-transition: all 0.2s cubic-bezier(0.77,0.2,0.05,1.0);
    -o-transition: all 0.2s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: all 0.2s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle input:checked ~ ul
{
  -webkit-transform: scale(1.0, 1.0);
      -ms-transform: scale(1.0, 1.0);
          transform: scale(1.0, 1.0);
  opacity: 1;
}

#menu li:active {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

    /* FINE MENU HAMBURGER */
    /* FINE MENU HAMBURGER */
    /* FINE MENU HAMBURGER */

.set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.set img {
  width: 70px;
}

.set div {
  position: absolute;
  display: block;
}

.set div:nth-child(1) {
    top: 80%;
    display: none;
  -webkit-animation: animate 40s linear infinite;
          animation: animate 40s linear infinite;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
    -webkit-transform: rotate(200deg);
        -ms-transform: rotate(200deg);
            transform: rotate(200deg);
}
.set div:nth-child(2) {
    top: 5%;
  -webkit-animation: animate 45s linear infinite;
          animation: animate 45s linear infinite;
  -webkit-animation-delay: -45s;
          animation-delay: -45s;
}
.set div:nth-child(3) {
    top: 10%;
  -webkit-animation: animate 45s linear infinite;
          animation: animate 45s linear infinite;
    -webkit-transform: rotate(200deg);
        -ms-transform: rotate(200deg);
            transform: rotate(200deg);
    -webkit-animation-delay: -80s;
            animation-delay: -80s;
}
.set div:nth-child(4) {
    top: 38%;
  -webkit-animation: animate 45s linear infinite;
          animation: animate 45s linear infinite;
  -webkit-animation-delay: -50s;
          animation-delay: -50s;
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg);
}
.set div:nth-child(5) {
    top: 25%;
    display: none;
  -webkit-animation: animate 35s linear infinite;
          animation: animate 35s linear infinite;
  -webkit-animation-delay: -75s;
          animation-delay: -75s;
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg);
}
.set div:nth-child(6) {
    top: 75%;
  -webkit-animation: animate 60s linear infinite;
          animation: animate 60s linear infinite;
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
}
.set div:nth-child(7) {
    top: 60%;
  -webkit-animation: animate 35s linear infinite;
    display: none;
          animation: animate 35s linear infinite;
    -webkit-animation-delay: -30s;
            animation-delay: -30s;
    -webkit-transform: rotate(260deg);
        -ms-transform: rotate(260deg);
            transform: rotate(260deg);
}

.set div:nth-child(8) {
    top: 20%;
  -webkit-animation: animate 40s linear infinite;
          animation: animate 40s linear infinite;
  -webkit-animation-delay: -30s;
          animation-delay: -30s;
    -webkit-transform: rotate(200deg);
        -ms-transform: rotate(200deg);
            transform: rotate(200deg);
}
.set div:nth-child(9) {
    top: 55%;
  -webkit-animation: animate 45s linear infinite;
          animation: animate 45s linear infinite;
  -webkit-animation-delay: -55s;
          animation-delay: -55s;
}
.set div:nth-child(10) {
    top: 85%;
  -webkit-animation: animate 45s linear infinite;
          animation: animate 45s linear infinite;
    -webkit-transform: rotate(200deg);
        -ms-transform: rotate(200deg);
            transform: rotate(200deg);
    -webkit-animation-delay: -80s;
            animation-delay: -80s;
}
.set div:nth-child(11) {
    top: 78%;
    display: none;
  -webkit-animation: animate 45s linear infinite;
          animation: animate 45s linear infinite;
  -webkit-animation-delay: -90s;
          animation-delay: -90s;
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg);
}
.set div:nth-child(12) {
    top: 35%;
  -webkit-animation: animate 25s linear infinite;
          animation: animate 25s linear infinite;
  -webkit-animation-delay: -75s;
          animation-delay: -75s;
    -webkit-transform: rotate(-300deg);
        -ms-transform: rotate(-300deg);
            transform: rotate(-300deg);
}
.set div:nth-child(13) {
    top: 5%;
  -webkit-animation: animate 40s linear infinite;
          animation: animate 40s linear infinite;
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
}
.set div:nth-child(14) {
    top: 70%;
  -webkit-animation: animate 35s linear infinite;
          animation: animate 35s linear infinite;
    -webkit-animation-delay: -10s;
            animation-delay: -10s;
    -webkit-transform: rotate(260deg);
        -ms-transform: rotate(260deg);
            transform: rotate(260deg);
}

@-webkit-keyframes animate {
  0% {
        left: -10%;
        opacity: 0;
  }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
  100% {
        left: 92%;
        opacity: 0;
        -webkit-transform: rotate(1000deg);
                transform: rotate(1000deg);
  }
}

@keyframes animate {
  0% {
        left: -10%;
        opacity: 0;
  }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
  100% {
        left: 92%;
        opacity: 0;
        -webkit-transform: rotate(1000deg);
                transform: rotate(1000deg);
  }
}

    /* HOME */
    /* HOME */
    /* HOME */

#header-sopra {
  display: none;
    -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#header {
  width: 100%;
  z-index: 100;
    top: 0;
  position: fixed;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#link-header {
  display: none;
}
.div-sinistra {
    padding: 0;
  }
#sezione-a {
  background: url("/images/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #f5f5f5;
  font-size: 1.5em;
  position: relative;
  min-height: 400px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#sezione-a .content-wrap {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty {
  display: none;
}


.richtext_p p {
  margin: 0 !important;
}

#sezione-a p {
  font-size: 0.8em;
  margin: 1.5em 0;
}

#sezione-a p:nth-child(3) {
  font-size: 0.9em;
}

.header-content {
  padding: 2.2em 1em;
}

    /* CHI SONO */
    /* CHI SONO */
    /* CHI SONO */

#chi-sono {
  min-height: 500px;
  padding: 2% 5% 5% 5%;
}

.foto-Fede {
  margin: 20px 15% 6% 0;
  width: 100%;
  -webkit-box-shadow: 1px 1px 20px rgba(0,0,0, 0.4);
          box-shadow: 1px 1px 20px rgba(0,0,0, 0.4);
  border-radius: 4px;
  padding: 1%;
}

#chi-sono h2,
.chi-sono2 .content-wrap p {
  font-size: 16px;
  color: #5c656d;
  margin-bottom: 1em;
}

#chi-sono h3 {
  font-weight: 400;
  font-size: 30px;
  color: #353535;
  margin-bottom: 1em;
}

hr {
  border: none;
  width: 74px;
  color: #cdcdcd;
  background-color: #cdcdcd;
  height: 1px;
  margin: 0;
  margin-bottom: 2em;
}

#chi-sono p, .chi-sono2 p {
  font-weight: 400;
  color: #353535;
  margin-bottom: 2em;
}

#chi-sono p a {
  color: #07776e;
  text-decoration: underline;
}

#chi-sono p a:hover {
  color: #054c47;
}

  /* PAGINA FORMAZIONE */
  /* PAGINA FORMAZIONE */
  /* PAGINA FORMAZIONE */

.pagina-iniziale {
  width: 100%;
  min-height: 20px;
  background: url("/images/header_pagina_interna.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding: 25px 0 25px 10px;
}

.pagina-iniziale a {
  margin: 25px;
  text-shadow: 2px 2px 7px rgba(0,0,0,0.2);
  font-weight: 400;
}

.pagina-iniziale span {
  margin-left: 10px;
}

.chi-sono2 {
  min-height: 100px;
  text-align: left;
  padding: 30px;
  -webkit-box-shadow: 0 1px 15px rgba(0,0,0,0.2);
          box-shadow: 0 1px 15px rgba(0,0,0,0.2);
  -webkit-transform: rotateX(1deg);
          transform: rotateX(1deg);
}

.chi-sono2 h2,
.chi-sono2 .content-wrap p {
  font-size: 10px;
  color: #5c656d;
}

.chi-sono2 h4 {
  color: #1d6b63;
}

.formazione p {
  margin: 30px 0;
  color: #353535;
}

.formazione {
  background-color: #F5F5F5;
  width: 100%;
  padding: 60px 30px;
  text-align: left;
    min-height: 300px;
}

#contatti-formazione {
  min-height: 100px;
  background: url("/images/radici.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #f5f5f5;
  font-size: 1.5em;
  text-align: center;
  padding: 50px;
}

u {
  color: #1d6b63;
  font-weight: 700;
}

.formazione a {
  color: #1d6b63;
}

.pdf {
  background: transparent url("/images/pdf-icon.png") scroll no-repeat left center;
  background-size: 35px;
  font-weight: 400;
  font-size: 16px;
  color: #353535;
  display: block;
  padding: 2em 0px 2em 40px;
}

.pdf:hover, .pagina-iniziale a:hover, .servizi a:hover {
  text-decoration: underline;
}

.testo {
  text-align: left;
}

.testo-wrap {
  padding: 50px 5% 0 5%;
}

    /* SERVIZI */
    /* SERVIZI */
    /* SERVIZI */

#servizi {
  min-height: 550px;
  background: url("/images/tronco.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #f5f5f5;
  font-size: 2em;
    line-height: 2.2rem;
  text-align: left;
}

h2 {
  font-size: 16px;
  margin: 1em 0;
  font-weight: 400;
}

h3 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 1em;
}

#servizi hr {
  margin-bottom: 1em;
}

#servizi p {
  margin-bottom: 1em;
  text-align: left;
    font-size: 16px;
}

.servizi {
  float: left;
  width: 100%;
  display: block;
}

.servizi:nth-of-type(1) {
  padding: 0 0 0 5%;
}

.servizi ul {
  padding: 0;
}

.servizi li {
  font-size: 0.7em;
  list-style: none;
  background: transparent url("/images/right-arrow.svg") scroll no-repeat left center;
  background-size: 17px;
  padding: 4px 0px 4px 25px;
}

.target_container {
  display: block;
  background-color: #04403b;

  .container_centered {
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 60px 0;
    color: #fff;
    display: block;

    hr {
      margin: 0 auto;
    }
    .icons_container {
      margin: 40px 0;
      display: grid;
      grid-gap: 5%;
      row-gap: 50px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

      .target_item_container {
        display: flex;
        align-items: center;
        flex-direction: column;

        .target_icon{
          width: 100px;
          height: 100px;
          background-color: #d3d3d3;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        h5.target_title {
          font-size: 20px;
          margin-top: 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .target_container .container_centered .icons_container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

    /* RICHIEDI INFORMAZIONI */
    /* RICHIEDI INFORMAZIONI */
    /* RICHIEDI INFORMAZIONI */

#info h2{
  font-size: 14px;
  color: #5c656d;
  margin: 1em 0;
}

#info h4 {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #353535;
}

#info p {
  color: #353535;
  margin-bottom: 1em;
  text-align: left;
}

form {
  padding: 5%;
    font-family: 'Lato', sans-serif !important;
}

input:focus, textarea:focus{
  outline: none;
}

form input {
  height: 66px;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 15px 15px 46px rgba(0, 0, 0, 0.2);
    box-shadow: 15px 15px 46px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5em;
  padding: 10px 20px;
  border: 1px solid #ddd;
  font-weight: 400;
  font-size: 0.9rem;
}

form textarea {
  height: 150px;
  width: 100%;
  border-radius: 5px;
    -webkit-box-shadow: 15px 15px 46px rgba(0, 0, 0, 0.2);
  box-shadow: 15px 15px 46px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5em;
  padding: 20px 20px;
  border: 1px solid #ddd;
    resize: none;
  font-weight: 400;
  font-size: 0.9rem;
}

.disclaimer {
    position: relative;
    float: left;
    display: inline-block;
    width: 100%;
}

.disclaimer p {
    position: relative;
    color: #353535;
    font-size: 0.9rem;
    margin-left: 20px;
    float: left;
    max-width: 80%;
}

@media screen and (max-width: 400px) {
    .disclaimer p {
        max-width: 69%;
    }
}

@media screen and (min-width: 400px) and (max-width: 450px) {
    .disclaimer p {
        max-width: 75%;
    }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
    float: left;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 30px;
  height: 30px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#info button {
  width: 100%;
  border: none;
}

.form-end {
  margin-top: 70px;
}

.formazione h5 {
  color: #1d6b63;
}

.lista {
  margin-top: 30px;
}

.list_item-container {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0;
  border-radius: 0;
}

.list_item-container:last-of-type {
}

.list_item-container button:focus {
  outline: none !important;
  box-shadow: none;
}

.list_item-container.card {
  background: transparent;
}

.list_item-container .card-header {
  padding: 0;
  background: transparent;
  border: none;
  min-height: 80px;
}

.item_testo {
  padding: 20px;
  opacity: 0.8;
  line-height: 160%;
}

.list_item-touch {
  display: flex;
  align-items: center;
  min-height: 100px;
}

.list_item-touch h3 {
  margin: 0 0 0 30px;
  font-size: 20px;
  flex: 1;
}

span.arrow {
  transform-origin: 40% 60%;
  transition: transform 0.3s ease;
}

span.arrow.rotate {
  transform: rotate(90deg);
}

.list_img {
  max-width: 80px;
  max-height: 80px;
  display: inline;
}

/* CONTATTI */
/* CONTATTI */
/* CONTATTI */

#contatti {
  min-height: 500px;
  background: url("/images/radici.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #f5f5f5;
  font-size: 1.5em;
  text-align: left;
  padding: 5%;
}

#contatti ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #f5f5f5;
  margin-bottom: 30px;
}

#contatti li {
  margin: 1em 0;
  font-weight: 400;
}

#contatti h2 {
  font-size: 14px;
}

#contatti li:nth-of-type(2) {
  font-size: 1.2em;
}

#contatti hr {
  margin-bottom: 1em;
}

#contatti li:nth-of-type(1n+3) {
  font-size: 0.7em;
}

#contatti img {
  width: 20px;
  margin-top: 3px;
  position: absolute;
}

#contatti li p {
  margin-left: 2.5em;
}

/* GOOGLE MAPS */
/* GOOGLE MAPS */
/* GOOGLE MAPS */

#map {
  margin: 0 0 5em 0;
  -webkit-box-shadow: 1px 1px 20px rgba(0,0,0, 0.4);
  box-shadow: 1px 1px 20px rgba(0,0,0, 0.4);
  height: 300px;
  border: 0;
  width: 100%;
  border-radius: 8px;
}

    /* FOOTER */
    /* FOOTER */
    /* FOOTER */

#footer {
  padding: 30px;
}

#logo-footer {
  width: auto;
  height: 65;
  margin: 1em auto 2em auto;
  position: relative;
}

#footer a {
  color: #aaaaaa;
}

#footer a:hover {
  color: #444;
}

#footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#footer li {
  margin: 1.1em;
}

#linkedin img {
  width: 50px;
  margin: 2em auto;
}

#footer-sotto {
  background-color: #f5f5f5;
  min-height: 60px;
  color: #5c656d;
  padding: 1.9em;
  margin-bottom: 0;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}

#footer-sotto p {
  margin-bottom: 1em;
}

#footer-sotto a {
  text-decoration: none;
  color: #217a72;
  font-weight: 700;
    margin: 20px;
    display: block;
    box-sizing: content-box;
}

/*MEDIA QUERIES */
/*MEDIA QUERIES */
/*MEDIA QUERIES */


@media screen and (min-width: 955px) and (max-width: 1220px) {
    #interno-sinistra-h span {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr (minmax(auto,40em))[2] 1fr;
    grid-template-columns: 1fr repeat(2, minmax(auto,40em)) 1fr;
  }

    main {
        margin-top: 168px;
    }
    .logo {
        width: auto;
        height: 65px;
        margin: 22px;
    }
    .avatar-foto {
    width: 70px;
    height: 70px;
}
  nav {
    display: none;
  }

    h1 {
        line-height: 1.2;
        font-size: 1.4em;
    }
  .content-wrap {
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
        padding: 60px 0;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }

    #header {
        position: fixed;
        margin-top: 59px;
    }

  #header-sopra {
        position: fixed;
    background-color: #f5f5f5;
    height: 60px;
        width: 100%;
        z-index: 100;
        top: 0;
    color: #5c656d;
        box-sizing: border-box;
    padding: 20px;
    margin-top: 0;
    display: block;
  }

    #header-sopra a {
    color: #5c656d !important;
  }

  #interno-sinistra-h {
    float: left;
  }

  #interno-destra-h {
    float: right;
  }

    #interno-destra-h img {
    padding-top: 2px;
  }

  #header-sopra p {
    text-align: left;
    font-size: 0.8em;
  }

  #header-sopra ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #header-sopra li {
    margin: auto 10px;
  }

  #header-sopra li p {
    margin-left: 25px;
  }

  #header-sopra img {
    width: 15px;
    position: absolute;
  }

    #menu {
        display: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
        top: 20px;
      display: block;
        text-align: left;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 99;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}

    /* Show the dropdown menu on hover */
    .div-link:hover .dropdown-content {display: block;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #3e8e41;}
    /* PAGINA FORMAZIONE */
    /* PAGINA FORMAZIONE */
    /* PAGINA FORMAZIONE */

  .chi-sono2 {
    min-height: 100px;
    text-align: left;
    padding: 0 25%;
  }

  .formazione {
    padding: 80px 25%;
  }

  #contatti-formazione {
    min-height: 100px;
    padding: 20px;
  }

    /* HEADER SOTTO */
    /* HEADER SOTTO */
    /* HEADER SOTTO */

  #link-header {
    float: right;
    height: 100%;
        width: auto;
    -ms-grid-column-span: 3;
    grid-column: span 3;
    text-align: right;
    display: block;
  }

    #link-header a:hover{
        color: #000;
  }

  .div-link {
    float: right;
    padding: 45px 25px;
  }

  .div-link a {
    color: #888;
  }
    .div-link a:hover {
    color: #111;
  }
    .set div:nth-child(1) {
        top: 80%;
        -webkit-animation: animate 80s linear infinite;
                animation: animate 80s linear infinite;
        -webkit-animation-delay: -7s;
                animation-delay: -7s;
        -webkit-transform: rotate(200deg);
            -ms-transform: rotate(200deg);
                transform: rotate(200deg);
    }
    .set div:nth-child(2) {
        top: 5%;
        -webkit-animation: animate 90s linear infinite;
                animation: animate 90s linear infinite;
        -webkit-animation-delay: -45s;
                animation-delay: -45s;
    }
    .set div:nth-child(3) {
        top: 10%;
        -webkit-animation: animate 90s linear infinite;
                animation: animate 90s linear infinite;
        -webkit-transform: rotate(200deg);
            -ms-transform: rotate(200deg);
                transform: rotate(200deg);
        -webkit-animation-delay: -80s;
                animation-delay: -80s;
    }
    .set div:nth-child(4) {
        top: 38%;
        -webkit-animation: animate 90s linear infinite;
                animation: animate 90s linear infinite;
        -webkit-animation-delay: -60s;
                animation-delay: -60s;
        -webkit-transform: rotate(300deg);
            -ms-transform: rotate(300deg);
                transform: rotate(300deg);
    }
    .set div:nth-child(5) {
        top: 25%;
        -webkit-animation: animate 70s linear infinite;
                animation: animate 70s linear infinite;
        -webkit-animation-delay: -75s;
                animation-delay: -75s;
        -webkit-transform: rotate(300deg);
            -ms-transform: rotate(300deg);
                transform: rotate(300deg);
    }
    .set div:nth-child(6) {
        top: 45%;
        -webkit-animation: animate 80s linear infinite;
                animation: animate 80s linear infinite;
        -webkit-transform: rotate(30deg);
            -ms-transform: rotate(30deg);
                transform: rotate(30deg);
    }
    .set div:nth-child(7) {
        top: 60%;
        -webkit-animation: animate 70s linear infinite;
                animation: animate 70s linear infinite;
        -webkit-animation-delay: -30s;
                animation-delay: -30s;
        -webkit-transform: rotate(260deg);
            -ms-transform: rotate(260deg);
                transform: rotate(260deg);
    }
  #sezione-a {
    min-height: 350px;
  }

  #sezione-a .content-wrap {
    margin: 0 auto;
    max-width: 900px;
  }

  #sezione-a p:nth-child(3) {
    font-size: 0.9em;
    padding: 1em 0;
  }

  .div-sinistra {
    float: left;
    width: 50%;
    padding: 2%;
  }

  .div-destra {
    float: right;
    width: 50%;
        padding: 2%;
  }

  #chi-sono {
    padding: 0;
  }

  .pdf {
    display: inline-block;
  }

  #chi-sono .btn-green {
    margin-right: 1em;
  }

    .map-btn-single {
        padding: 1em 2em;
        -webkit-box-shadow: 1px 1px 7px rgba(0,0,0, 0.4);
        box-shadow: 1px 1px 7px rgba(0,0,0, 0.4);
        font-size: 14px;
    }

    #chi-sono .div-destra {
    padding: 5% 5% 0 3%;
  }

    .servizi {
        float: left;
        width: 100%;
        display: block;
        margin-top: 1em;
    }

  #servizi .div-sinistra {
    float: left;
    width: 50%;
        top: 50%;
        padding: 70px 0 0 10%;
  }

  #servizi .div-destra {
    float: right;
    width: 50%;
        padding: 70px 0 0 5%;
  }

  form .div-sinistra {
    width: 48%;
    padding: 0;
    margin-right: 2%;
    float: left;
  }

  form .div-destra {
    width: 48%;
    padding: 0;
    margin-left: 2%;
    float: right;
  }

  form {
    padding: 0;
  }

  #info button {
    display: inline-block;
    float: right;
    width: 40%;
  }

  #info p:nth-of-type(1){
    display: inline-block;
    float: left;
  }

  #contatti .div-sinistra {
    float: left;
    width: 50%;
    padding: 5% 2% 5% 5%;
  }

  #contatti .div-destra {
    float: right;
    width: 50%;
    padding: 1% 5% 0 0;
  }

  #map {
        margin: 2em 0;
    height: 16.3em;
        border-radius: 5px;
  }

    .map-btn-single:first-child {
        border-radius: 8px 0 0 8px;
    }

    .map-btn-single:last-child {
        border-radius: 0 8px 8px 0;
    }

  #contatti {
    padding: 0;
  }

  #footer {
    padding: 30px;
    min-height: 20px;
    overflow: auto;
  }

  #footer #logo-footer {
    display: inline-block;
    margin: 0;
  }

  #contenitore-footer {
    -ms-grid-column-span: 3;
    grid-column: span 3;
    text-align: right;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .interno-link {
    text-align: right;
    display: inline;
    padding-top: 15px;
    margin-right: 10px;
  }

  .interno-social {
    text-align: right;
    display: inline;
    float: right;
  }

  #footer ul {
    display: inline;
  }

  #footer li {
    display: inline;
  }

  #linkedin img {
    display: inline;
    text-align: right;
    margin: 0;
  }

  #linkedin a {
    margin: 0;
    text-align: right;
  }

  #footer-sotto {
    max-height: 20px;
  }

  #footer-sotto a {
    display: inline;
  }

  #footer-sotto p {
    display: inline;
    margin-right: 1em;
  }
}
