<footer id="footer-sotto">
  <p>Federica Burzio &copy; 2020 Tutti i diritti riservati</p>
  <p>P.IVA 12244320011</p>
  <a href="./privacy.html">Informativa sulla Privacy</a>
  <a href="https://www.fsansalvadore.com/" target="_blank">Credits</a>
</footer>
