<% data.site.generals.each do |_, general| %>

<footer id="footer-sotto">
  <p><%= general.footer_info_generiche %></p>
  <p><%= general.footer_partita_iva %></p>
  <a href="./privacy.html">Informativa sulla Privacy</a>
  <a href="https://www.fsansalvadore.com/" target="_blank">Credits</a>
</footer>

<% end %>
