---
title: "Formazione | Federica Burzio | Psicologa e Psicoterapeuta in formazione"
---

<main>
	<!-- FINE HAMBURGER MENU -->
	<!-- HOME -->

	<section>
		<div class="pagina-iniziale">
			<a href="<%= config[:host] %>/"><i class="fa fa-arrow-circle-left"></i><span>Torna alla pagina iniziale</span></a>
		</div>
	</section>

	<!-- MAIN -->
	<div class="box">
		<!-- CHI SONO -->
		<section class="chi-sono2">
			<div class="content-wrap">
				<h2>DOTT.SSA FEDERICA BURZIO > CHI SONO ></h2>
				<h4>FORMAZIONE</h4>
			</div>
		</section>

		<!-- FORM -->
		<section class="formazione">
			<div>
				<p>
					Dopo la <u>Laurea Magistrale in Psicologia Clinica e di Comunità</u> e l'<a href="https://www.ordinepsicologi.piemonte.it/albo-degli-psicologi/federica-burzio" alt="Albo degli Psicologi del Piemonte - Federica Burzio" target="_blank">iscrizione all'Albo degli Psicologi del Piemonte</a>, ho iniziato nel 2018 la specializzazione in Psicoterapia a indirizzo psicoanalitico relazionale presso la <a href=" http://www.sppscuoladipsicoterapia.it/" alt="Scuola di Psicoterapia Psicoanalitica" target="_blank"><u>SSP</u> - <strong>Scuola di Psicoterapia Psicoanalitica</strong> - di Torino</a>.
				</p>
				<p>
					Nel 2019 inizio l'attività privata all'interno della sede di <a href="https://www.psy-coworking.com/" alt="Psicologia Torino e psy-coworking" target="_blank"><u>Psicologia Torino e psy-coworking</u></a>, uno spazio di lavoro psicologico dove professionisti Psicologi e Psicoterapeuti con orientamenti differenti possono lavorare insieme condividendo conoscenze e competenze.
				</p>
				<p>
					Attualmente svolgo il tirocinio di specializzazione in <strong>Psicoterapia Psicoanalitica</strong> presso l'<strong>ASL Città di Torino</strong>, nel Centro della Salute Mentale. Inoltre, assieme a un Docente SPP, collaboro con la <a href="https://coopsandonato.it/" alt="cooperativa San Donato di Torino" target="_blank"><u>cooperativa San Donato di Torino</u></a> partecipando a supervisioni rivolte a operatori nel trattamento di minori in comunità residenziali specializzate in relazioni difficili.
				</p>
				<p>
					Titoli, esperienze professionali e formative potete trovarle <u><a href="../images/CV_Burzio.pdf" target="_blank">qui</a></u>.
				</p>
			</div>
		</section>

		<!-- CONTATTI -->
		<section id="contatti-formazione">
			<div class="content-wrap">
				<a href="<%= config[:host] %>/#info" data-offset="-60">
					<button type="submit" class="btn-white">Richiedi un appuntamento</button>
				</a>
			</div>
		</section>

	<!-- FINE MAIN -->
	</div>
</main>
