---
title: "Pensiero | Federica Burzio | Psicologa e Psicoterapeuta in formazione"
---
<main>
	<section>
		<div class="pagina-iniziale">
			<a href="<%= config[:host] %>/"><i class="fa fa-arrow-circle-left"></i><span>Torna alla pagina iniziale</span></a>
		</div>
	</section>

	<!-- MAIN -->
	<div class="box">
		<!-- CHI SONO -->
		<section class="chi-sono2">
			<div class="content-wrap">
				<h2>DOTT.SSA FEDERICA BURZIO > CHI SONO ></h2>
				<h4>PENSIERO</h4>
			</div>
		</section>

		<!-- FORM -->
		<section class="formazione">
			<div>
				<p>
					Amo il lavoro psicologico e psicoterapeutico perchè fonda le sue radici sull'adozione di un atteggiamento autenticamente di <strong>aiuto verso l'altro</strong>, caratterizzato dall'ascolto empatico all'interno di un contesto accogliente e non giudicante.
				</p>
				<p>
					Credo che la <strong>psicoanalisi</strong> non sia altro che una <strong>possibilità già presente nella nostra mente</strong>, in attesa di essere scoperta e compresa. Una potenzialità appartenente a ognuno di noi che consiste nella capacità di ascolto e cura dell'Altro attraverso una reale presenza e compartecipazione, mentale e affettiva.
				</p>
				<p>
					Il mio lavoro consiste quindi nel <strong>permettere alle persone di condividere con me parte della propria storia</strong> in modo da sviluppare assieme gli strumenti necessari per poterla osservare da punti di vista differenti, risignificando il proprio percorso di vita attraverso analisi retrospettive del proprio passato. Lo <strong>Psicologo</strong> si prende cura degli aspetti sofferenti dell'Altro non pretendendo di negarli o di eliminarli illusoriamente, ma contenendoli e pensandoli attraverso la co-creazione di uno strumento per pensare i pensieri.
				</p>
			</div>
		</section>

		<!-- CONTATTI -->
		<section id="contatti-formazione">
			<div class="content-wrap">
				<a href="<%= config[:host] %>/#info" data-offset="-60">
					<button type="submit" class="btn-white">Richiedi un appuntamento</button>
				</a>
			</div>
		</section>

	<!-- FINE MAIN -->
	</div>
</main>
