<!-- HOME -->
<main>
	<section id="sezione-a" class="grid">

		<!-- EFFETTO FOGLIE -->
		<div class="set">
			<div><img src="/images/icone/leaf3.png"></div>
			<div><img src="/images/icone/leaf2.png"></div>
			<div><img src="/images/icone/leaf3.png"></div>
			<div><img src="/images/icone/leaf4.png"></div>
			<div><img src="/images/icone/leaf5.png"></div>
			<div><img src="/images/icone/leaf6.png"></div>
			<div><img src="/images/icone/leaf7.png"></div>
            <div><img src="/images/icone/leaf8.png"></div>
			<div><img src="/images/icone/leaf2.png"></div>
			<div><img src="/images/icone/leaf9.png"></div>
			<div><img src="/images/icone/leaf10.png"></div>
			<div><img src="/images/icone/leaf11.png"></div>
			<div><img src="/images/icone/leaf12.png"></div>
			<div><img src="/images/icone/leaf1.png"></div>
		</div>

		<!-- FINE EFFETTO FOGLIE -->

		<div class="content-wrap" id="header-content">
			<h1>"Ognuno è più che altro, semplicemente,<br><strong>un essere umano</strong>"</h1>
            <p>Harry S. Sullivan</p><a href="#info" data-offset="-160">
			<button type="submit" class="btn-white">Richiedi un appuntamento</button></a>
		</div>
	</section>

	<!-- MAIN -->
	<div class="box">
		<!-- CHI SONO -->
		<section id="chi-sono" class="grid">
			<div class="content-wrap">
				<div class="div-sinistra">
					<img class="foto-Fede" src="/images/Federica_Burzio-Psicologa_Psicoterapeuta.jpeg" alt="foto-Federica-Burzio">
				</div>
				<div class="testo div-destra">
					<h2>CHI SONO</h2>
					<h3>Dottoressa <strong>Federica Burzio</strong></h3>
					<hr>
					<p>Sono <strong>Psicologa</strong> laureata all'Università degli studi di Torino, e <strong>Psicoterapeuta</strong> in formazione. Scopri di più su di me e sul mio percorso:</p>
          <a href="/chi-sono/formazione.html" data-offset="-160"><button type="button" class="btn-green">Formazione</button></a>
          <a href="/chi-sono/pensiero.html" data-offset="-160"><button type="button" class="btn-green">Pensiero</button></a>
				</div>
			</div>
		</section>

		<!-- SERVIZI -->
		<section id="servizi" class="grid">
			<div class="content-wrap">
				<div class="testo-wrap div-sinistra">
					<div>
						<h2>Ambiti di intervento</h2>
						<h3>Di cosa mi occupo?</h3>
						<hr>
            <p>
            Esistono diverse branche della psicologia che si occupano del <strong>benessere degli individui</strong>, quelle su cui mi concentro attualmente sono:</p>
					</div>
				</div>
				<div class="div-destra">
					<div class="servizi">
<!--						<h4>Psicologia</h4>-->
						<ul>
							<a href="/ambiti-di-intervento/sostegno-psicologico.html"><li>il sostegno psicologico</li></a>
							<a href="/ambiti-di-intervento/consulenza.html"><li>la consulenza</li></a>
              <a href="/ambiti-di-intervento/psicodiagnosi.html"><li>la psicodiagnosi</li></a>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<!-- FORM -->
		<section id="info" class="grid">
			<div class="content-wrap">
				<div class="testo-wrap testo div-destra">
					<h2>RICHIEDI INFORMAZIONI</h2>
					<h4>Compila il form</h4>
					<hr>
					<p>Per maggiori informazioni o per prenotare un primo colloquio conoscitivo compila il form inserendo il tuo <strong>nome</strong>, il tuo <strong>numero di telefono</strong> e l'<strong>indirizzo email</strong> per essere ricontattati.</p>
				</div>
				<div class="div-sinistra">
					<form method="post" action="send_form_email.php">
					  <div class="nome">
	            <input type="text" name="nome" placeholder="Nome *" required>
	          </div>
            <div class="nome div-sinistra">
	            <input type="text" name="tel" placeholder="Telefono *" required>
	          </div>
	          <div class="email div-destra">
	            <input type="email" name="email" placeholder="Indirizzo Email">
	          </div>
	          <div class="messaggio">
	            <textarea name="messaggio" cols="50"rows="8" placeholder="Messaggio *" required></textarea>
	          </div>
	          <div class="disclaimer">
              <label class="switch">
              <input type="checkbox" required>
              <span class="slider round"></span>
            </label>
              <p>Dichiaro di aver preso visione dell'<a href="privacy.html"><u>informativa sul trattamento dei dati personali</u></a>.*</p>
          </div>
          <div class="form-end">
            <p>* Campi obbligatori</p>
	          <button type="submit" value="Invia Messaggio" class="btn-green">Invia messaggio</button>
            </div>
	        </form>
				</div>
			</div>
		</section>

		<!-- CONTATTI -->
		<section id="contatti" class="grid">
			<div class="content-wrap">
				<div class="div-sinistra">
					<ul>
						<li>
              <h2>CONTATTI</h2>
            </li>
						<li>
							Orario di reperibilità<br>
							<strong>Lun - Ven</strong> dalle <strong>9:00</strong> alle <strong>18:00</strong>
						</li>
						<hr>
						<li>
							<img src="/images/icone/envelope.svg" alt="icon-envelope"><p><a href="mailto:info@federicaburziopsicologa.it" target="_blank">info@federicaburziopsicologa.it</a></p>
						</li>
						<li>
							<img src="/images/icone/call-answer.svg" alt="icon-phone"><p><a href="tel:+393384827741">+39 338 482 7741</a></p>
						</li>
					</ul>
            <div id="map-btn"><button class="map-btn-single active" id="torino"><img src="/images/icone/maps-and-flags.svg" alt="icon-position">Via Don Giovanni Minzoni 2, 10121 Torino</button><button class="map-btn-single" id="chieri"><img src="/images/icone/maps-and-flags.svg" alt="icon-position">Viale Fasano, 17 Chieri (TO)</button></div>
				</div>

			<!-- GOOGLE MAPS -->
				<div class="div-destra">
					<div id="map">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=Via%20Don%20Giovanni%20Minzoni%2C%202%2010121%20Torino%20TO&key=AIzaSyAvMMUbUBXr4WEtSIYgrUZq3HMWEmzEKTw" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</section>

	<!-- FINE MAIN -->
	</div>
</main>
