---
title: "Messaggio inviato | Federica Burzio | Psicologa e Psicoterapeuta in formazione"
---

<main>
	<section>
		<div class="pagina-iniziale">
			<a href="index.html">&#60; Torna alla pagina iniziale</a>
		</div>
	</section>

	<!-- MAIN -->
	<div class="box">
		<!-- CHI SONO -->
		<section class="chi-sono2">
			<div class="content-wrap">
				<h4>Messaggio inviato con successo</h4>
			</div>
		</section>

		<!-- FORM -->
		<section class="formazione">
			<div>
				<p>Grazie! Riceverai una risposta nel più breve tempo possibile.</p>
			</div>
		</section>

	<!-- FINE MAIN -->
	</div>
</main>
