---
title: "Informativa sulla Privacy | Federica Burzio | Psicologa e Psicoterapeuta in formazione"
---

<main>
	<section>
		<div class="pagina-iniziale">
			<a href="<%= config[:host] %>/"><i class="fa fa-arrow-circle-left"></i><span>Torna alla pagina iniziale</span></a>
		</div>
	</section>

	<!-- MAIN -->
	<div class="box">
		<!-- CHI SONO -->
		<section class="chi-sono2">
			<div class="content-wrap">
				<h2>DOTT.SSA FEDERICA BURZIO ></h2>
				<h4>Informativa sulla Privacy</h4>
			</div>
		</section>

		<!-- FORM -->
		<section class="formazione">
			<div class="title-container">
                </div>
                <p>
                    I dati trasmessi su questo sito - <em>www.federicaburziopsicologa.it</em> - saranno trattati in conformità a quanto previsto dalla vigente normativa sulla privacy, in particolare dal Regolamento Europeo 2016/679.
                </p>
                <h2>Dati oggetto di trattamento:</h2>
            <br>
            <hr>

                <h3>Dati di navigazione</h3>
                <p>
                    Per motivi di sicurezza, ed al fine di adempiere a specifici obblighi di legge, vengono registrati i dati tecnici di connessione degli utenti all’interno di file di testo archiviati nella memoria del server (cosiddetti file di Log).<br>
                    <br> All’interno dei file di log vengono registrate una serie di dati tecnici quali:
                </p>
                <ul>
                    <li>indirizzo IP del visitatore;</li>
                    <li>data e ora di accesso;</li>
                    <li>pagina visualizzata;</li>
                    <li>eventuale pagina web di provenienza;</li>
                    <li>browser ed il sistema operativo utilizzati.</li>
                </ul>
                <p>Tali dati consentono di risalire all’identità del titolare della connessione, ma ciò solo a seguito di particolari verifiche tecniche che possono essere compiute solo dall’autorità giudiziara. In nessun caso i ns. addetti potranno risalire autonomamente all’identità dei visitatori tramite tali dati di navigazione ed in nessun caso verrà effettuato il ricongiungimento con altre fonti di dati eventualmente in nostro possesso al fine di tracciare i percorsi di navigazioni di specifici utenti.</p>

                <h3>Cookie</h3>
                <p>Per maggiori informazioni circa l’utilizzo dei cookie da parte di <em>www.federicaburziopsicologa.it</em> e di aziende terze vi invitiamo a leggere i punti seguenti.</p>

                <h2>Dati conferiti in modo volontario</h2>

                <p>Verrà fornita un’informativa specifica ogni qualvolta l’accesso a determinati servizi sia subordinato ad una procedura di registrazione che prevede la comunicazione di dati personali dell’utente.<br>
                    <br> L’acquisizione dei dati, ove richiesta, è il presupposto indispensabile per accedere ai servizi offerti dal ns. sito.</p>

                <h2>Finalità del trattamento</h2>
                <p>Utilizziamo i dati di navigazione e quelli che ci vengono conferiti volontariamente dagli utenti solamente per gli scopi per i quali i dati sono stati raccolti. In taluni casi è possibile che i dati raccolti vengano comunicati e/o trattati grazie all’ausilio di fornitori esterni, i quali ricevono e utilizzano solo i dati necessari all’espletamento del compito per i quali sono stati chiamati in causa.<br>
                    <br> I file di log vengono da noi trattati per controllare il corretto funzionamento del sito e proteggere i nostri sistemi da eventuali attacchi informatici;<br>
                    <br> I dati personali forniti volontariamente vengono trattati:
                    </p>
                    <ul>
                        <li>per poter fornire i servizi richiesti;</li>
                        <li>per poter elaborare specifiche richieste degli utenti in modo automatico o manuale.</li>
                        <li>I cookie vengono trattati in conformità a quanto indicato nell’apposita informativa.</li>
                    </ul>


                <h2>Modalità del trattamento</h2>
                <p>I dati oggetto di trattamento sono trattati con strumenti informatici in modo prevalentemente automatizzato. L’intervento manuale da parte di operatori autorizzati è previsto solo in casi particolari e limitati, solitamente dietro richiesta del diretto interessato. Idonee misure di sicurezza sono osservate per prevenire la perdita dei dati, usi illeciti o non corretti ed accessi non autorizzati.</p>

                <h2>Non obbligatorietà del conferimento</h2>
                <p>A parte quanto specificato per i dati di navigazione (file di log), e in parte per i cookies (che comunque possono essere bloccati e/o cancellati mediante apposite funzionalità integrate nel browser) l’utente è libero di fornire o meno i dati personali indicati nei moduli di registrazione e/o di richiesta informazioni. Si precisa, tuttavia, che il loro mancato conferimento può comportare l’impossibilità di ottenere quanto richiesto.</p>

                <h2>Titolare del trattamento</h2>
                <p>Responsabile del trattamento dei dati personali è Federica Burzio, con sede in Via Don Giovanni Minzoni 2, 10121 Torino (TO), nella persona dell’amministratore pro-tempore. Per richiedere informazioni in merito al trattamento dei dati personali compilate il modulo di contatto e selezionate come oggetto la voce “Privacy”.</p>

                <h2>Diritti dell’interessato</h2>
                <p>Ai sensi dell’art. 7 del D.Lgs. 196/03, l’utente ha il diritto di ottenere la conferma dell’esistenza o meno dei suoi dati e di conoscerne il contenuto e l’origine, verificarne l’esattezza o chiederne l’integrazione o l’aggiornamento, oppure la rettificazione. L’utente ha inoltre il diritto di chiederne la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, nonché di opporsi in ogni caso, per motivi legittimi, al loro trattamento.<br>
                    <br> In ogni caso l’interessato può esercitare i propri diritti inviando una richiesta scritta per posta ordinaria presso la ns. sede oppure inviando una e-mail a <a href="mailto: info@federicaburziopsicologa.it" target="_top">info@federicaburziopsicologa.it</a></p>

                <h2>Informativa sull’utilizzo dei cookie</h2>
                <p>Conformemente al provvedimento del Garante per la protezione dei dati personali dell’8 maggio 2014, recante “Individuazione delle modalità semplificate per l’informativa e l’acquisizione del consenso per l’uso dei cookie”, <em>www.federicaburziopsicologa.it</em> intende informare l’utente di quanto segue, precisando che l’informativa qui fornita deve essere intesa quale allegato alla più generale informativa sulla privacy disponibile a questa pagina.</p>

                <h2>Informazioni generali sui cookie</h2>
                <p>Quando accedi a <em>www.federicaburziopsicologa.it</em> o usi uno dei nostri servizi, il nostro sistema potrebbe impostare o leggere cookie e/o altri tipi di identificatori circa il browser e/o il dispositivo che stai utilizzando.<br>
                    <br> Un cookie è un piccolo file di testo che viene memorizzato sul computer di chi visualizza un sito web allo scopo di registrare alcune informazioni relative alla visita nonché di creare un sistema per riconoscere l’utente anche in momenti successivi. Gli identificatori dei dispositivi, invece, vengono generati raccogliendo ed elaborando alcune informazioni come l’indirizzo IP e/o lo user agent (versione del browser, tipo e versione del sistema operativo) o altre caratteristiche del dispositivo, sempre al fine di ricollegare talune informazioni ad un utente specifico.<br>
                    <br> Un sito Web può impostare un cookie sul browser solo se le preferenze configurate per quest’ultimo lo consentono. È importante sapere che un browser può consentire a un determinato sito Web di accedere solo ed esclusivamente ai cookie da esso impostati e non a quelli impostati da altri siti Web: non vi è alcun rischio per la vostra privacy in tal senso.</p>

                <h2>Pratiche relative ai cookie e ad altre tecnologie similari</h2>

                <p><em>www.federicaburziopsicologa.it</em> potrebbe utilizzare i cookie o altro tipo di identificatori per una serie di ragioni, tra cui:</p>

                <ul>
                    <li>Tenere traccia delle preferenze dell’utente mentre utilizza il sito e/o servizi in esso incorporati o ad esso connessi.</li>
                    <li>Elaborare analisi statistiche (analytics) circa l’utilizzo del sito e/o dei servizi in esso incorporati.</li>
                    <li>Condurre ricerche per migliorare i contenuti, i prodotti e i servizi di <em>www.federicaburziopsicologa.it</em>.</li>
                </ul>
                <p>
                <em>www.federicaburziopsicologa.it</em> NON utilizza direttamente alcun cookie di profilazione: gli unici cookie generati e gestiti direttamente da <em>www.federicaburziopsicologa.it</em> sono i cosiddetti cookie tecnici (i quali vengono utilizzati solo ed esclusivamente per offrire correttamente i servizi proposti al pubblico) ed, in modo estremamente limitato, cookie di analytics (che vengono utilizzati per conteggiare il numero di letture alle varie pagine del sito e/o per altre finalità di natura statistica). Informiamo, tuttavia, gli utenti che attraverso le nostre pagine potrebbero essere generati cookie di profilazione ad opera di terze parti (Rif. “Cookie di altre società”).</p>

                <h2>Cookie di altre società</h2>
                <p><em>www.federicaburziopsicologa.it</em> integra, all’interno delle proprie pagine, servizi di terze parti che potrebbero impostare e utilizzare propri cookie e/o tecnologie similari. L’impiego di tali cookie e tecnologie similari da parte di tali aziende è regolato dalle informative sulla privacy di dette società e non dalla presente informativa essendo <em>www.federicaburziopsicologa.it</em> totalmente estraneo alla gestione di tali strumenti ed al trattamento dei dati da questi derivanti.<br>
                    <br> Forniamo di seguito un elenco (non esaustivo) di alcune delle società partner che potrebbero utilizzare i cookie mentre navighi su <em>www.federicaburziopsicologa.it</em>:
                    <ul>
                        <li><a href="https://policies.google.com/terms?hl=en#toc-protection" target="_blank" title="Google Analytics cookie policy">Google Analytics</a></li>
                    </ul>

                <h2>Cookies di Google Analytics</h2>
                <p>Questo sito fa uso del servizio offerto da Google Analytics al fine di avere un servizio completo ed affidabile di statistiche circa l’utilizzo del sito stesso. Al fine di garantire nel modo più rigoroso possibile la privacy degli utenti comunichiamo di aver provveduto ad effettuare l’anonimizzazione degli IP (pertanto Google Analytics provvederà a rendere anonimo l’indirizzo IP dell’utente/visitatore non appena ciò sarà tecnicamente possibile nel passaggio più a monte della rete in cui avviene la raccolta dei dati).<br><br> Il Titolare informa altresì di aver accettato l’Emendamento sull’elaborazione dei dati (Google Analytics Data Processing Amendment) messo a disposizione da Google Analytics nel rispetto della Direttiva 95/46/CE. In particolare, in virtù di tale emendamento, Google garantisce che tratterà i dati personali registrati mediante il servizio solo nei limiti delle istruzioni impartite dal gestore del sito e di non condividerli con altri servizi Google a meno che ciò non sia stato esplicitamente richiesto ed autorizzato dal titolare del sito stesso.<br><br> In ragione di quanto sopra, si informa l’utente che le opzioni pubblicitarie e di condivisione dei dati con Google non sono state attivate e che Google Analytics non è stato collegato ad alcun servizio aggiuntivo: il trattamento, pertanto, è effettuato per meri fini statistici e pertanto, sulla base di quanto esplicitamente previsto dal Garante della Privacy, i cookie di Analytics sono stati equiparati ai cookie tecnici e come tali installati senza il preventivo consenso dell’utente.
                </p>
                <h2>Disattivare i cookie</h2>
                <p>Puoi configurare il tuo browser in modo da accettare o rifiutare tutti i cookie o particolari tipologie di cookie (ad esempio i cookie di terze parti) oppure puoi scegliere di essere avvertito ogni qualvolta un cookie viene impostato all’interno del tuo computer.<br><br> Di seguito le istruzioni relative ai browser di navigazione più diffusi ai fini di effettuare una configurazione personalizzata circa i cookie:<br><br>
                </p>
                    <h4>Microsoft Internet Explorer</h4>
                    <ul>
                        <li>clicca su <em>“Strumenti”</em> nella parte superiore della finestra del browser;</li>
                        <li>seleziona <em>“Opzioni Internet”</em>;</li>
                        <li>clicca sulla scheda <em>“Privacy”</em>;</li>
                        <li>per attivare i cookies, il livello di Privacy deve essere impostato su <em>“Medio”</em> o al di sotto; impostando il livello di Privacy sopra il <em>“Medio”</em> l’utilizzo dei cookies verrà disattivato.</li>
                    </ul>
                    <h4>Mozilla Firefox</h4>
                    <ul>
                        <li>clicca su <em>“Strumenti”</em> nella parte superiore della finestra del browser;</li>
                        <li>seleziona <em>“Opzioni”</em>;</li>
                        <li>seleziona l’icona <em>“Privacy”</em>;</li>
                        <li>clicca su <em>“Cookies”</em>;</li>
                        <li>seleziona o meno le voci <em>“Accetta i cookies dai siti”</em> e <em>“Accetta i cookies di terze parti”</em>;</li>
                    </ul>
                    <h4>Google Chrome</h4>
                    <ul>
                        <li>clicca l’icona del menu;</li>
                        <li>seleziona <em>“Impostazioni”</em>;</li>
                        <li>nella parte inferiore della pagina, seleziona <em>“Mostra impostazioni avanzate”</em>;</li>
                        <li>nella sezione <em>“Privacy”, seleziona “Impostazioni contenuti”</em>;</li>
                        <li>seleziona o meno la voce <em>“Impedisci ai siti di impostare dati”</em>.</li>
                    </ul>
                    <h4>Apple Safari</h4>
                    <ul>
                        <li>clicca sull’etichetta <em>“Safari”</em> nella parte superiore della finestra del browser;</li>
                        <li>seleziona l’opzione <em>“Preferenze”</em>;</li>
                        <li>clicca su <em>“Privacy”</em>;</li>
                        <li>imposta la tua scelta alla voce <em>“Cookie e dati di siti web”</em>.</li>
                    </ul>
		</section>

		<!-- CONTATTI -->
		<section id="contatti-formazione">
			<div class="content-wrap">
				<a href="<%= config[:host] %>/#info" data-offset="-60">
					<button type="submit" class="btn-white">Richiedi un appuntamento</button>
				</a>
			</div>
		</section>

	<!-- FINE MAIN -->
	</div>
</main>
